.game-container {
  display: flex;
  height: 95vw;
  width: 95vw;
  position: relative;
  justify-content: center;
  flex-direction: column;
}


.grid {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 95vh;
  max-height: 95vh;
}

.row {
  display: flex;
  flex: 1;
}

.field {
  flex: 1;
  border: 2px solid black;
}

.player1 {
  background-image: url('cross.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.player2 {
  background-image: url('circle.svg');
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  text-align: center;
}
